<!-- <!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <script src="/axios/axios.js"></script>
  </head> -->
  <body>
    <form method="get" onsubmit="return get_weather()">
    <fieldset>
      <div id="center">
        <ul>
            <li>
            <label>City Name</label><br>
            <input type="text" placeholder="e.g. Dallas, Tx">
            </li>
            <li>
                <label>Latitude</label><br>
                <input type="text" name="lat" id="lat" placeholder="e.g. 42.9150747" required><br><br>
            </li>
            <li>
                <label>Longitude</label><br>
                <input type="text" name="long" id="long" placeholder="e.g. -77.784323" required><br><br>
            </li>
      </ul>
    </div>
    </fieldset>
    <button>Get Weather</button>
  </form>
<div style="text-align: center;">
  <h3>Your Weather Now:</h3>
  <h3 id="temp"></h3>
  <h3 id="icon"></h3>
</div>
  </body>
<!-- </html> -->
