<!doctype html>
<html>
  <head>
    <title>Awesome Weather App</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="/axios/axios.js"></script>
  </head>

    <h1>Search </h1>
    <h2 id="temp"></h2>
    <script> src="static/frontend.js"</script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js'></script>
		<script src="js/index.js"></script>
  </body>
</html>
